* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
}

div {
  position: relative;
  display: block;
}
